@media (max-width: 1399px) {
    .col-gd {
        width: 25%;
    }
    .hero-area3.hero-area4 .item {
        height: 450px;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1240px;
    }
}

@media (max-width: 1050px) {
    .left-category-area .category-list .navi-link img{
        display: none;
    }
    .left-category-area .category-list .navi-link {
        padding: 17px 8px;
    }
    .left-category-area .category-list {
        padding: 14px 0px;
    }
    .left-category-area .category-list .navi-link i {
        top: 5px;
    }

}

@media (max-width: 991px) {
    .hero-area3 .right-img img {
        max-width: 220px;
        display: inline-block;
        margin-bottom: 20px;
    }
  
    .hero-area3 .left-content .title {
        font-size: 24px;
        line-height: 34px;
    }
    .hero-area3 .left-content{
        text-align: center;
        width: 100%;
    }
    .owl-carousel .owl-prev, .owl-carousel .owl-next {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .hero-area3 .left-content .subtitle {
        font-size: 30px;
    }
    .service-section.mt-60.pt-0{
        margin-top: 30px !important;
    }
    .slider-area-wrapper{
        margin-top: 0px;
    }
    .col-gd {
        width: 33.333%;
    }
    .newproduct-section .section-title,
    .sps-two .section-title
    {
        display: block;
        text-align: center;
    }
    .sps-two  .section-title h2,
    .newproduct-section  .section-title h2
    {
        display: inline-block;
        margin-bottom : 20px;
    }
    .newproduct-section .section-title .links,
    .sps-two .section-title .links
    {
        display : block;
    }
    .newproduct-section .section-title .links, 
    .sps-two .section-title .links 
    {
        padding-bottom: 10px;
    }
    .section-title .links a::before {
        display: none;
    }
    .widget.p-4 {
        padding: 0px !important;
        box-shadow: none !important;
    }
    .contact-page .card.widget.p-4,
    .checkut-page .card.widget.p-4
    {
        border-radius: 5px !important;
        padding: 1.5rem !important;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)  !important;
    }
    .topbar{
        position: relative;
    }
    .compare-mobile {
        margin-right: 0px;
        margin-left: 10px;
    }
    .site-header .search-box-wrap{
        position: absolute;
        left: 0px;
        width: 100%;
        background: #fff;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 999;
    }
    .close-m-serch{
        font-size: 24px;
        margin-left: 20px;
        cursor: pointer;
    }
    .track-order-link.wishlist-mobile{
        margin-right: 10px;
    }
    .t-h-dropdown {
        margin-right: 10px;
    }
    .hero-slider .item {
        height: 430px;
    }
}

@media (max-width: 767px) {
    .hero-area3.hero-area4 .item {
        height: 320px;
    }
    .body_theme2 .genius-banner{
        margin-bottom: 30px;
    }
    .body_theme3 .genius-banner{
        margin-bottom: 30px;
    }
    .body_theme4 .genius-banner{
        margin-bottom: 30px;
    }
    .shop-top-filter-wrapper .gd-text-sm-center{
        text-align: center;
    }
    .shop-top-filter-wrapper select.form-control:not([size]):not([multiple]) {
        height: 35px;
    }
    .quickFilter .quickFilter-title{
        height: 35px;
        line-height: 35px;
    }
    .shop-top-filter-wrapper .shop-sorting .form-control {
        max-width: 155px;
    }
    .shop-top-filter-wrapper .gd-text-sm-center .sptfl{
        justify-content: center;
        display: block;
    }
    .shop-top-filter-wrapper .shop-view{
        float: unset;
        margin-top: 15px;
    }
    .shop-top-filter-wrapper  .shop-sorting{
        display: block;
        flex: unset;
        margin-top: 15px;
        text-align: center;
    }

    .slider-area-wrapper{
        margin-top: 0px;
    }
    .col-gd {
        width: 50%;
    }
    .hero-slider .owl-carousel .owl-nav div {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .hero-slider .item {
        padding: 0px 20px;
    }
    .payment-methods .single-payment-method {
        width: 50%;
    }
    .details-page-top-right-content{
        margin-top: 30px;
    }
    .t-m-s-a{
        text-align: center;
    }
}
@media (max-width: 576px) {
    .shop-top-filter-wrapper  .shop-sorting #sorting{
        display: block;
        margin: 0 auto;
    }
    .hero-slider .item {
        height: 340px;
    }
}


@media (max-width: 500px) {
    .hero-area3.hero-area4 .item {
        height: 250px;
    }
    .slider-area-wrapper .item-inner .title {
        font-size: 30px;
    }
    .slider-area-wrapper .item-inner .subtitle {
        font-size: 15px;
        line-height: 24px;
    }
    .deal-of-day-section .section-title{
        display: block;
        text-align: center;
    }
    .deal-of-day-section .section-title .countdown {
        display: block;
        margin-top: 4px;
    }
    .deal-of-day-section .section-title .h3{
        margin-bottom: 0px;
    }
    .deal-of-day-section .section-title .btn{
        margin-top: 10px;
        margin-bottom: 10px !important;
        display: inline-block;
    }
    .selected-product-section .features-slider .owl-nav div{
        top: 50% !important;
        transform: translateY(-50%);
    }
    .selected-product-section .features-slider .owl-nav div.owl-prev{
        left: -10px;
        right: auto;
    }
    .selected-product-section .features-slider .owl-nav div.owl-next{
        right: -10px;
    }
    .product-card .product-title > a {
        font-size: 14px !important;
        display: block;
    }
    .deal-of-day-section .section-title .h3::before{
        display: none;
    }
    .site-header .toolbar .toolbar-item {
        width: 34px;
        margin-left: 6px;
    }
}

@media (max-width: 414px) {
    .g-3, .gy-3 {
        --bs-gutter-y: 10px !important;
    }
    .g-3, .gx-3 {
        --bs-gutter-x: 10px !important;
    }
    .t-h-dropdown {
        margin-right: 8px;
    }
   
}
@media (max-width: 390px) {
    .product-card .product-price > del{
        display: block;
    }
}
@media (max-width: 360px) {
    .product-card .product-title > a {
        font-size: 12px !important;
    }
    .product-card .product-card-body {
        padding: 10px 5px 0px;
    }
    .product-card.p-col .product-thumb {
        width: 100px;
        margin-right: 20px;
    }
}